<!DOCTYPE html>
<html>
<head>
  <title>PictureShow</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <meta http-equiv="refresh" content="30"/>
</head>
<body>

<%= yield %>

</body>
</html>
